section {
  margin-left: 150px;
  margin-right: 150px;
}
div {
  color: thistle;
  padding: 25px;
  border: 1px solid hidden;
  background-color: #212121;
}
#youtube {
  background-color: white;
}
img {
  border-radius: 5px;
  width: 30px;
}
body {
  background: linear-gradient(teal, lightgray);
}
strong {
  color: white;
}