section {
  /* text-align: center; */
  margin-left: 150px;
  margin-right: 150px;
}
div {
  color: #777777;
  padding: 25px;
  border: 1px solid hidden;
  background-color: #212121;
}
#youtube {
  background-color: white;
}
#opayimg {
  border-radius: 5px;
}
body {
  background: linear-gradient(teal, lightgray);
}
strong {
  color: white;
}